.logo {
  height: 50px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.lawyd-header {
  color: #00216B;
}

.navbar-lawyd {
  margin-top: 5px;
}

.do-list-header {
  color: #00216B;
}

.done-list-header {
  color: #02DE00;
}

.todo-action {
  color: black;
  padding-left: 10px;
}